.navbar {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
#hero{
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 15vw;

}
@media (max-width: 990px) {
  #hero {
    width: 20vw;
  }
}

#cart{
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 34vw;

}
@media (max-width: 990px) {
  #cart {
    width: 44vw;
  }
}